@page "/"

<PageTitle>Welcome to Books Spot</PageTitle>

<h1>Welcome to Books Spot!</h1>

You may search the book catalog freely. If you wish to make manager actions,
reserve or borrow a book you must first log in.